/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 8, 2023, 7:29:14 PM
    Author     : homec
*/

.hoste2{
text-align: center;
border-bottom: solid #010200;
color: limegreen ;
margin: 0 405px;
font-size: 25px;
margin-bottom: 50px;
margin-top: 50px;
border-radius: 50%; /* This is use to get a round socialmedia */
}